<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heena.testingfirebasecloud">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.location.gps" />
    .
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.heena.D2DMedical.Controller"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.heena.D2DMedical.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.heena.D2DMedical.Mem" />
        <activity android:name="com.heena.D2DMedical.MainActivity" />
        <activity android:name="com.heena.D2DMedical.ForgetPassword" />
        <activity android:name="com.heena.D2DMedical.Login" />
        <activity android:name="com.heena.D2DMedical.UploadMedicine" />
        <activity android:name="com.heena.D2DMedical.Nearchemeist" />
        <activity android:name="com.heena.D2DMedical.Chemis" />
        <activity android:name="com.heena.D2DMedical.YourDialog" />
        <activity android:name="com.heena.D2DMedical.OrderTrack" />
        <activity android:name="com.heena.D2DMedical.Addressadd" />
        <activity
            android:name="com.heena.D2DMedical.Ordernow"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.heena.D2DMedical.Profile" />
        <activity android:name="com.heena.D2DMedical.UploadPresc" />
        <activity android:name="com.heena.D2DMedical.RegisterOption" />
        <activity android:name="com.heena.D2DMedical.Register" />
        <activity android:name="com.heena.D2DMedical.CheRegis" />
        <activity android:name="com.heena.D2DMedical.Chemistupload" />
        <activity android:name="com.heena.D2DMedical.Ratingclass" />
        <activity android:name="com.heena.D2DMedical.Summery" />
        <activity android:name="com.heena.D2DMedical.FirstAid1" />

        <!-- GCM Receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.gnirt69.gcmexample" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.heena.D2DMedical.MyBroadcastReceiver" />
        <!-- GCM Receiver Service -->
        <service
            android:name="com.heena.D2DMedical.GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- GCM Registration Intent Service -->
        <service
            android:name="com.heena.D2DMedical.GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity android:name="com.heena.D2DMedical.OrderList" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.heena.D2DMedical.Admincla" />
        <activity android:name="com.heena.D2DMedical.DisplayAddress" />
        <activity android:name="com.heena.D2DMedical.OTCCounter" />
        <activity android:name="com.heena.D2DMedical.Test" />
        <activity android:name="com.heena.D2DMedical.Termspage" />
        <activity android:name="com.heena.D2DMedical.FirstAidnew" />
        <activity android:name="com.heena.D2DMedical.DailyCare" />
        <activity android:name="com.heena.D2DMedical.BabyCare" />
        <activity android:name="com.heena.D2DMedical.Test1" />
        <activity android:name="com.heena.D2DMedical.Test2" />
        <activity android:name="com.heena.D2DMedical.Test3" />
        <activity android:name="com.heena.D2DMedical.Test4" />
        <activity android:name="com.heena.D2DMedical.ChemistProfile" />
        <activity android:name="com.heena.D2DMedical.Tokengen" />
        <activity android:name="com.heena.D2DMedical.Search" />
        <activity android:name="com.heena.D2DMedical.OrderRecieve" />
        <activity android:name="com.heena.D2DMedical.OrderPlace1" />
        <!-- <activity android:name="com.heena.testingfirebasecloud.ResultActivity" /> -->
        <activity android:name="com.heena.D2DMedical.TestPage" />
        <activity
            android:name="com.heena.D2DMedical.MainActivity3"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.heena.D2DMedical.Testagain"></activity>
    </application>

</manifest>