<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.administrator.renudadlani">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <permission
        android:name="com.administrator.renudadlani.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="net.simplifiedcoding.androidgcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.administrator.renudadlani.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.administrator.renudadlani.MainActivity" />
        <activity android:name="com.administrator.renudadlani.Home" />
        <activity android:name="com.administrator.renudadlani.Home1" />
        <activity android:name="com.administrator.renudadlani.Aboutactivity" />
        <activity android:name="com.administrator.renudadlani.Collectionactivity" />
        <activity android:name="com.administrator.renudadlani.Contact" />
        <activity android:name="com.administrator.renudadlani.Homeactivity" />
        <activity android:name="com.administrator.renudadlani.Login" />
        <activity android:name="com.administrator.renudadlani.Mediaactivity" />
        <activity android:name="com.administrator.renudadlani.Register" />
        <activity android:name="com.administrator.renudadlani.Notifyall" />
        <activity android:name="com.administrator.renudadlani.ReplyList" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.gnirt69.gcmexample" />
            </intent-filter>
        </receiver>

        <!--             GCM Receiver Service -->
        <service
            android:name="com.administrator.renudadlani.GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </service>

        <!--              GCM Registration Intent Service -->
        <service
            android:name="com.administrator.renudadlani.GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.onesignal.BadgeCount"
            android:value="ENABLE" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.administrator.renudadlani.Showall"></activity>
    </application>

</manifest>